# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Build outputs
build/
DerivedData/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/*/.build/
Packages/*/.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output

# Misc
*.swp
*.lock
*~
